  <li class="media my-4">
    <a href="{{ include.page_link }}"><img class="mr-3" src= "{{ include.imgurl }}" alt="Play image coming soon..."></a>
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{ include.title }} <span class="badge badge-primary">{{ include.date }}</span></h5>
      {{ include.desc }}
      <br />
      <p>
      <a href="{{ include.page_link }}">more details...</a> <br />
      <a href="https://www.ticketsource.co.uk/ExeterDrama">book now...</a>
    </p>
    </div>
  </li>
