<footer class="text-center">

    <div class="row justify-content-md-center align-items-center">
        <div class="col-4 col-md-3">
        </div>
        <div class="col-4 col-md-2">
            <a href="{{ site.baseurl }}{% link pages/index.html %}"><img class="img-fluid"
                    src="{{ site.baseurl }}{% link /assets/img/edclogo.png %}" alt="EDC Logo" /></a>
        </div>
        <div class="col-4 col-md-1">
        </div>
        <div class="col-12 col-md-3">
            <div class="socialmedia pb-3" id="social-footer">
                <a href="{{ site.social_links.facebook }}" target="_blank" class="btn-social btn-facebook"
                    title="EDC Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="{{ site.social_links.instagram }}" target="_blank" class="btn-social btn-instagram"
                    title="EDC Instagram"><i class="fab fa-instagram"></i></a>
                <a href="{{ site.social_links.ticketsource }}" target="_blank" class="btn-social btn-ticketsource"
                    title="Buy Tickets"><i class="fas fa-ticket-alt"></i></a>
                <a href="{{ site.social_links.fundraising }}" target="_blank" class="btn-social btn-easyfundraising"
                    title="Easy Fundraising"><i class="fas fa-shopping-bag"></i></a>
            </div>
            <p><em>A company limited by guarantee (no. 7002854)</em></p>
            <p><em>Registered Charity no. 1181995</em></p>
            <p><em><a href="{{ site.baseurl }}{% link pages/privacy.md %}">Privacy and data protection policy</a></em>
            </p>
        </div>
        <div class="col col-md-3">
        </div>
    </div>

</footer>
