<dl id="cygnet-details">
  <dt>Cygnet Theatre</dt>
  <dd>Friars Gate</dd>
  <dd>Exeter</dd>
  <dd>EX2 4AZ</dd>
  <dd><a href="https://cygnettheatre.co.uk/">www.cygnettheatre.co.uk</a></dd>
  <dd>Phone: 01392 277189</dd>
</dl>

<dl>
  <dt>Ticket Bookings</dt>
  <dd>Booking Hotline: 01392 277189</dd>
  <dd><a href="https://wegottickets.com/f/17214">Online Booking Fri. 26th 7:30pm</a></dd>
  <dd><a href="https://wegottickets.com/f/17217">Online Booking Sat. 27th 1:00pm</a></dd>
  <dd><a href="https://wegottickets.com/f/17216">Online Booking Sat. 27th 7:30pm</a></dd>
  <dd><a href="https://wegottickets.com/f/17925">Online Booking Sun. 28th 1:00pm</a></dd>
</dl>
