---
layout: default_with_title
title: Shakespeare On Film
featured_on_index: true
poster_thumb: /assets/img/play/shakespeareonfilm2020/shakespeareonfilm2020thumb.jpg
poster: /assets/img/play/shakespeareonfilm2020/shakespeareonfilm2020poster.jpg
location: Video series on YouTube
non_date_desc: Watch Now
cast1:
  - - Olivia
    - Ellie Lynas
  - - Viola
    - Ella Edmonds
cast2:
  - - Malvolio
    - Roger Mathewson
cast3:
  - - Romeo
    - Miles Clayton-Foster
  - - Paris
    - Jordan Burston
cast4:
  - - Prospero
    - Roger Mathewson
cast5:
  - - Corin
    - Doug Thomson
  - - Touchstone
    - Jordan Burston
---

<h4>Directed by Kirsten Lees and Malcolme Littler</h4>

<p>Shakespeare On Film has been put together as a series of monologues and
        duologues by individuals rehearsing via zoom or in socially distanced gardens
        and parks.</p>

<p>We'll give you comedy and tragedy with snippets from Macbeth, Romeo and Juliet,
        As You Like It and A Midsummer Night's Dream to name but a few.</p>

<p>Originally planned as an outdoor socially distanced performance, the current situation prompted us to try something
        new so we have reimagined it as a series of online videos.</p>

<p>The videos are available on our YouTube channel but also showcased on this page for your convenience.</p>

<p>This has been a challenging time for our company. If you enjoy the films we've created, please consider donating to
        support our work!</p>

<p><a href="https://youtube.com/exeterdramaco" class="btn btn-primary btn-lg btn-block">YouTube</a></p>

<p><a href="{{site.social_links.campaign}}" class="btn btn-primary btn-lg btn-block">Donate</a></p>

<hr />

<h2>Twelfth Night</h2>
<h5>Act 1 Scene V</h5>
<h5>"We'll once more hear Orsino's embassy"</h5>

<div class="row text-center">
        <div class="col-1">
        </div>
        <div class="col-12 col-xl-10">
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/wJkR0kB5sHk" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
        </div>
        <div class="col-1">
        </div>
</div>
{% include play/cast_list.html list=page.cast1 %}

<hr />

<h2>Twelfth Night</h2>
<h5>Act 2 Scene V</h5>
<h5>"M - Why, that begins my name!"</h5>

<div class="row text-center">
        <div class="col-1">
        </div>
        <div class="col-12 col-xl-10">
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/h5BfcTkxlw8" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
        </div>
        <div class="col-1">
        </div>
</div>
{% include play/cast_list.html list=page.cast2 %}

<hr />

<h2>Romeo and Juliet</h2>
<h5>Act 5 Scene III</h5>
<h5>"O Lord, they fight!"</h5>

<div class="row text-center">
        <div class="col-1">
        </div>
        <div class="col-12 col-xl-10">
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/wMJoOpZq47s" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
        </div>
        <div class="col-1">
        </div>
</div>
{% include play/cast_list.html list=page.cast3 %}

<hr />

<h2>The Tempest</h2>
<h5>Act 5 Scene I</h5>
<h5>"Ye elves of hills, brooks, standing lakes and groves..."</h5>

<div class="row text-center">
        <div class="col-1">
        </div>
        <div class="col-12 col-xl-10">
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/mgQvHR4aQEg" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
        </div>
        <div class="col-1">
        </div>
</div>
{% include play/cast_list.html list=page.cast4 %}

<hr />

<h2>As You Like It</h2>
<h5>Act 3 Scene II</h5>
<h5>"How like you this shepherd's life?"</h5>

<div class="row text-center">
        <div class="col-1">
        </div>
        <div class="col-12 col-xl-10">
                <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/YUhqXe-00yw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
        </div>
        <div class="col-1">
        </div>
</div>
{% include play/cast_list.html list=page.cast5 %}