{% comment %} This is cast list but with the first row as a table header{% endcomment %}
<div class="row my-4">
    <div class="col-xl-2">
    </div>
    <div class="col-xl">
        <table class="table table-striped table-borderless table-sm text-center">
            {% for char in include.list %}
            <tr>
                {% if forloop.first == true %}
                <thead>
                    <tr>
                        {% if char[1] %}
                        <th>{{ char[0] }}</th>
                        <th>{{ char[1] }}</th>
                        {% else %}
                        <th colspan="2">{{ char[0] }}</th>
                        {% endif %}
                    </tr>
                </thead>
                {% else %}
                {% for name in char %}
                <td>{{ name }}</td>
                {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-xl-2">
    </div>
</div>