---
layout : default
title : Home
permalink: /
---

<div class="alert alert-primary" role="alert">
  It's time to vote in our <a href="https://forms.gle/AtbYkvuhpgMa5tan6" class="alert-link">annual awards!</a>
</div>

{% assign featured_plays = site.playFuture | where: 'featured_on_index', true %}

{% if featured_plays.size == 1 %}

{% assign featured_play = featured_plays[0] %}

{% if featured_play.poster %}

<p class="text-center playposter">
  <a href="{{ featured_play.url | relative_url }}">
    <img class="img-fluid" alt="{{ featured_play.title }}" src="{{ featured_play.resource_root | append: '/' | append: featured_play.poster | relative_url }}">
  </a>
</p>

{% else %}
{% include no_poster_desc.html title=featured_play.title date=featured_play.date_human time=featured_play.time location=featured_play.location url=featured_play.url author=featured_play.author %}
{% endif %}

{% else %}
<p class="text-center playposter">
  <img class="img-fluid" alt="EDC will return soon..."
    src="{{ "/assets/img/play/edc-next.png" | relative_url }}">
</p>
{% endif %}

{% if featured_play and featured_play.booking_active %}
<p class="text-center"><a class="btn btn-primary" href="{{ site.social_links.ticketsource }}" role="button">Book Now</a>
{% endif %}

</p>